@media (max-width: 1216px) {
  .header__main-bg {
    width: 650px;
    height: 492px;
  }

  .detail__item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 1068px) {
  .header__main-bg {
    width: 500px;
    height: 379px;
  }

  .about__item-content {
    flex-direction: column;
  }

  .about__item:nth-child(2n) .about__item-content {
    flex-direction: column;
  }

  .about__item-text {
    padding-right: 0;
    padding-bottom: 2em;
  }

  .about__inner
    > .about__item:nth-child(2n)
    > .about__item-content
    > .about__item-text {
    padding-left: 0;
  }

  .contact__inner-text {
    padding-right: 3em;
  }
}

@media (max-width: 920px) {
  .header__main-bg {
    width: 370px;
    height: 280px;
  }

  .header__text {
    padding: 1em 0;
  }

  .detail__item:nth-child(1) {
    display: none;
  }

  .cargo__goods-inner {
    flex-direction: column;
  }

  .cargo__goods-card:first-child {
    margin-right: 0;
    margin-bottom: 3em;
  }

  .cargo__goods-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .goods__inner {
    margin-right: 3.5em;
  }

  .goods-prices {
    align-self: flex-end;
  }

  .contact__inner-text {
    padding-right: 0;
  }

  .contact__inner {
    flex-direction: column;
  }

  .contact__inner-text {
    padding-bottom: 1em;
  }

  .contact__inner-text p + p {
    margin-top: 1em;
  }
}

@media (max-width: 768px) {
  .header__btn-menu {
    display: block;
    font-size: 30px;
    color: #232323;
  }

  .menu__items {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    /*     margin-top: -32px;
    z-index: 50;
    background-color: lime;
    max-width: 200px;
    height: 100vh; */
  }

  /*   .menu__items::after {
    content: "\ea0f";
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'icomoon' !important;
  } */

  .header__content {
    background-image: url(../img/main-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .header__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__content-inner {
    text-align: center;
    padding-bottom: 2.5em;
  }

  .header__content-text {
    z-index: 10;
  }

  .header__title {
    color: #fff;
    font-style: italic;
    padding-top: 2.5em;
  }

  .header__text {
    color: #d6d6d6;
    padding: 1.25em 0 2.5em;
  }

  .header__content-img {
    display: none;
  }

  .btn-outline-success {
    background-color: var(--main-color);
    color: #fff;
  }
}

@media (max-width: 670px) {
  .cargo__goods-card {
    display: flex;
    flex-direction: column;
    align-items: initial;
    outline: none;
  }

  .cargo__goods-card:first-child {
    margin-bottom: 1em;
  }

  .goods__picture img {
    display: inline-block;
    height: 200px;
  }

  .cargo__goods-card {
    padding: 0 1.75em 2em;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots li {
    margin-right: 10px;
  }

  .slick-dots li.slick-active button {
    background-color: var(--main-color);
  }

  .slick-dots button {
    border-radius: 50%;
    background-color: transparent;
    font-size: 0;
    width: 15px;
    height: 15px;
    outline: none;
    border: 1px solid var(--main-color);
  }
}

@media (max-width: 576px) {
  .detail__item-img {
    height: 190px;
    width: auto;
  }

  .about__item-title {
    display: block;
    color: var(--main-color);
    align-self: flex-start;
    font-size: 1rem;
    position: relative;
    width: 100%;
    font-weight: bold;
  }

  .about__item {
    background-color: #fff;
    box-shadow: 0 5px 28px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 2.5em;
    border-radius: 3px;
  }

  .about__item-content {
    padding: 0 1em 1em;
  }

  .about__item-title {
    position: relative;
  }

  .about__item-title a {
    color: var(--main-color);
    display: block;
    padding: 1em;
  }

  .about__item-title a:after {
    content: "\ea50";
    font-family: "icomoon" !important;
    transform: rotate(90deg);
    font-size: 1.1rem;
    position: absolute;
    right: 1em;
  }

  .about__item-title a.open:after {
    content: "\ea50";
    transform: rotate(180deg);
    top: 10px;
  }

/*   .about__item-content {
    display: none;
  } */

  .goods-prices {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 470px) {
  .cargo__goods-card {
    padding: 0 1em 2em;
  }

  .goods__info {
    font-size: 1rem;
  }

  .goods__inner {
    margin-right: 1em;
  }

  .goods__old-price {
    font-size: 1.2em;
  }

  .goods__new-price {
    font-size: 1.3em;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 1140px;
  }
}
@media (min-width: 576px){
  .container, .container-sm {
    max-width: 1140px;
  }
}


@media (min-width: 577px) {
  .about__item-content {
    display: flex !important;
  }
}
